@font-face {
  font-family: 'inter';
  src: url('./fonts/static/Inter-Regular.ttf') format('truetype');
  /* Puedes agregar más formatos de fuente aquí para mejor compatibilidad con navegadores */
}

#root {
  font-family: 'inter', sans-serif;
}



